#signup-form, #login-form {
    text-align: center;
}
.signup-message {
    font-size: 0.75rem;
}
.signup-form-group, .login-form-group {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.navbar-brand {
    padding-left: 0.5rem;
    padding-top: .7rem;
    padding-bottom: .5rem;
}
.nav-link {
    margin-right: auto;
    margin-left: auto;
}
.alert {
    display: flex;
    width: 90%;
    height: 3em;
    line-height: 1em;
    margin-right: auto;
    margin-left: auto;
}
.btn-close {
    margin-top: -0.25rem;
}
.close {
    line-height: 5px;
}
#logout-button {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}
.container {
    --containerWidth: 100%;
    margin-top: 1rem;
}
.page-title {
    text-align: center;
    padding: 0.5rem 0.5rem;
}
#workout-name {
    padding: 0.5rem 0.5rem;
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}
/* Style the collapsible content. Note: hidden by default */
#cardio-contents, .workout-contents{
  padding: 1.5rem 1.5rem;
  display: none;
  text-align: center;
  overflow: hidden;
  background-color: #f1f1f1;
}
.exercise-display-table {
    margin: auto;
}
.reps-header, .weight-header {
    padding: 0.25rem 2rem;
    font-weight: normal;
}
.exercise-name {
    font-weight: bold;
    margin-bottom: 0;
}
.reps-weight {
    text-align: center;
}
.exercise-divider {
    margin: 0.5rem 0;
}
.workout-table {
    text-align: center;
}
#start-workout-div {
    text-align: center;
}
.cardio-field {
    display: inline-block;
    max-width: 30%;
    text-align: center;
}
.cardio-input {
    max-width: 97%;
}
#exercise-page-title, #cardio-button, #cardio-contents, #exercise-form {
    display: none;
}
#exercise-form {
    margin: 1.5rem 1rem;
}
#exercise-table {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}
.form-exercise-title-input {
    text-align: center;
    width: calc(var(--containerWidth) * .75);
}
.exercise-header {
    padding-top: 0.75rem;
}
.form-exercise {
    text-align: center;
    width: calc(var(--containerWidth) * .75)
}
.add-div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}
#start-workout-button, #add-exercise-button, #add-set-button {
    padding: 1rem 2rem;
}
.slider-container {
    text-align: center;
    width: calc(var(--containerWidth) * .85);
    margin: auto;
}
.slider {
    -webkit-appearance: none;
    width: calc(var(--containerWidth) * .85);
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}
#finish-workout-div {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 0.75rem;
}