{% extends 'base.html' %}{% block title %}Exercise{% endblock %}
<body>
    {% block content %}
    <form method="POST">
        <h1 id="page-title" align="center">Exercise</h1>

        <table id="exercise-table">
            <thead>
                <tr>
                    <th colspan="2">
                        <input
                                type="text"
                                class="form-exercise-title"
                                id="workout-name"
                                name="workout-name"
                                placeholder="Workout Name"
                        >
                        <hr/>
                    </th>
                </tr>
            </thead>
            <tbody id="exercise-table-body">
                <tr><th colspan="2">Exercise 1</th></tr>
                <tr>
                    <td colspan="2">
                        <input
                                type="text"
                                class="form-exercise-title"
                                id="exercise1-name"
                                name="exercise1-name"
                                placeholder="Exercise Name"
                        >
                    </td>
                </tr>

                <tr><th colspan="2">Set 1</th></tr>
                <tr>
                    <td>
                        <input
                                type="number"
                                class="form-exercise"
                                id="set1-reps"
                                name="set1-reps"
                                placeholder="Reps"
                        >
                    </td>
                    <td>
                        <input
                                type="number"
                                class="form-exercise"
                                id="set1-weight"
                                name="set1-weight"
                                placeholder="Weight"
                        >
                    </td>
                </tr>

                <tr><th colspan="2">Set 2</th></tr>
                <tr>
                    <td>
                        <input
                                type="number"
                                class="form-exercise"
                                id="set2-reps"
                                name="set2-reps"
                                placeholder="Reps"
                        >
                    </td>

                    <td>
                        <input
                                type="number"
                                class="form-exercise"
                                id="set2-weight"
                                name="set2-weight"
                                placeholder="Weight"
                        >
                    </td>
                </tr>

                <tr><th colspan="2">Set 3</th></tr>
                <tr>
                    <td>
                        <input
                                type="number"
                                class="form-exercise"
                                id="set3-reps"
                                name="set3-reps"
                                placeholder="Reps"
                        >
                    </td>
                    <td>
                        <input
                                type="number"
                                class="form-exercise"
                                id="set3-weight"
                                name="set3-weight"
                                placeholder="Weight"
                        >
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Dropdown for LBS / KG -->
        <!-- Add Set Button -->
        <div class="add-div">
            <button id="add-exercise-button" class="btn btn-primary" type="button">Add Exercise</button>
            <button id="add-set-button" class="btn btn-primary" type="button">Add Set</button>
        </div>

        <div class="finish-workout-div">
            <button id="finish-workout-button" class="btn btn-danger" type="submit">Finish Workout</button>
        </div>
    </form>
    <script>
        window.onload = function () {
            var exerciseNumber = 2;
            var setNumber = 4;
            var addExerciseButton = document.getElementById("add-exercise-button");
            var addSetButton = document.getElementById("add-set-button");
            var exerciseTable = document.getElementById("exercise-table");

            addSetButton.onclick = function addSet() {
            // add new set every click, max 10 sets
                if (setNumber <= 10) {
                    exerciseTable.innerHTML +=
                    '<tr><th colspan="2">Set ' + setNumber + '</th></tr>' +
                    '<tr>\
                    <td><input type="number" class="form-exercise" id="set' + setNumber + '-reps" name="set' + setNumber + '-reps" placeholder="Reps"></td>\
                    <td><input type="number" class="form-exercise" id="set' + setNumber + '-weight" name="set' + setNumber + '-weight" placeholder="Weight"></td>\
                    </tr>';
                }

                // increment set count
                setNumber += 1;
            }

            addExerciseButton.onclick = function addExercise() {
            // add new exercise every click, max 15 exercises
                if (exerciseNumber <= 15) {
                    exerciseTable.innerHTML +=
                    '<tr><th colspan="2">Exercise ' + exerciseNumber + '</th></tr>' +
                    '<tr>\
                    <td colspan="2"><input type="text" class="form-exercise-title" id="exercise' + exerciseNumber + '-name" name="exercise' + exerciseNumber + '-name" placeholder="Exercise Name"></td>\
                    </tr>' +
                    '<tr><th colspan="2">Set 1</th></tr>' +
                    '<tr>\
                    <td><input type="number" class="form-exercise" id="set1-reps" name="set1-reps" placeholder="Reps"></td>\
                    <td><input type="number" class="form-exercise" id="set1-weight" name="set1-weight" placeholder="Weight"></td>\
                    </tr>' +
                    '<tr><th colspan="2">Set 2</th></tr>' +
                    '<tr>\
                    <td><input type="number" class="form-exercise" id="set2-reps" name="set2-reps" placeholder="Reps"></td>\
                    <td><input type="number" class="form-exercise" id="set2-weight" name="set2-weight" placeholder="Weight"></td>\
                    </tr>' +
                    '<tr><th colspan="2">Set 3</th></tr>' +
                    '<tr>\
                    <td><input type="number" class="form-exercise" id="set3-reps" name="set3-reps" placeholder="Reps"></td>\
                    <td><input type="number" class="form-exercise" id="set3-weight" name="set3-weight" placeholder="Weight"></td>\
                    </tr>';
                }
                exerciseNumber += 1;

                // reset set count whenever new exercise added
                setNumber = 4;
            }
        }
    </script>
    {% endblock %}
</body>