{% extends 'base.html' %}
<body>
    {% block content %}
    <form method="POST">
        <h1 id="page-title" align="center">Exercise</h1>
        <table id="exercise-table">
            <thead>
                <tr>
                    <th colspan="2">
                        <input
                                type="text"
                                class="form-exercise"
                                id="workout-name"
                                name="workout-name"
                                placeholder="Workout Name"
                        >
                    </th>
                </tr>
            </thead>
            <tbody id="exercise-table-body">
                <tr class="exercise-name">
                    <td>
                        <input
                                type="text"
                                class="form-exercise"
                                id="exercise1-name"
                                name="exercise1-name"
                                placeholder="Exercise Name"
                        >
                    </td>
                </tr>

                <tr class="set-label">
                    <td>Set 1</td>
                </tr>
                <tr class="set">
                    <td>
                        <input
                                type="number"
                                class="form-exercise"
                                id="set1-reps"
                                name="set1-reps"
                                placeholder="Reps"
                        >
                    </td>
                    <td>
                        <input
                                type="number"
                                class="form-exercise"
                                id="set1-weight"
                                name="set1-weight"
                                placeholder="Weight"
                        >
                    </td>
                </tr>

                <tr class="set-label">
                    <td>Set 2</td>
                </tr>
                <tr class="set">
                    <td>
                        <input
                                type="number"
                                class="form-exercise"
                                id="set2-reps"
                                name="set2-reps"
                                placeholder="Reps"
                        >
                    </td>
                    <td>
                        <input
                                type="number"
                                class="form-exercise"
                                id="set2-weight"
                                name="set2-weight"
                                placeholder="Weight"
                        >
                    </td>
                </tr>

                <tr class="set-label">
                    <td>Set 3</td>
                </tr>
                <tr class="set">
                    <td>
                        <input
                                type="number"
                                class="form-exercise"
                                id="set3-reps"
                                name="set3-reps"
                                placeholder="Reps"
                        >
                    </td>
                    <td>
                        <input
                                type="number"
                                class="form-exercise"
                                id="set3-weight"
                                name="set3-weight"
                                placeholder="Weight"
                        >
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Dropdown for LBS / KG -->
        <!-- Add Set Button -->
    <div class="add-set-div">
        <button id="add-set-button" class="btn btn-primary">Add Set</button>
    </div>

    <div class="add-exercise-div">
        <button id="add-exercise-button" class="btn btn-primary">Add Exercise</button>
    </div>

    <div class="finish-workout-div">
        <button id="finish-workout-button" class="btn btn-primary" type="submit">Finish Workout</button>
    </div>
    </form>
    {% endblock %}
</body>