{% extends 'base.html' %} {% block title %}Home{% endblock %}
{% block content %}
<h2 class="page-title">Hey {{ user.first_name }}</h2>
<h5>Workouts</h5>
<hr/>
{% for workout in workouts %}
<button type="button" class="collapsible">
    <span>{{ workout.workout_name }}</span><span> - </span><span>{{ workout.workout_date.strftime("%d-%b-%Y") }}</span>
</button>
<div class="workout-contents">
    {% for exercise in workout.exercise|sort(attribute='id') %}
    <table>
      <thead>
        <tr>
          <th colspan="3">
            {{ exercise.exercise_name }}
          </th>
        </tr>
      </thead>
      <tbody>
        {% for set in exercise.set|sort(attribute='id') %}
        <tr><td>{{ set.reps }} reps</td><td> x </td><td>{{ set.weight }} lbs</td></tr>
        {% endfor %}
      </tbody>
    </table>
    {% endfor %}
</div>
{% endfor %}
<script src="{{url_for('static', filename='home.js')}}"></script>
{% endblock %}