{% extends 'base.html' %}{% block title %}Home{% endblock %}
{% block content %}
<h2 class="page-title">Hey {{ user.first_name }}</h2>
<h5>Workouts</h5>
<hr/>
{% for workout in workouts %}
<button type="button" class="collapsible">
    {% set dt_str = {workout.workout_date.strftime("%Y-%m-%d")} %}
    {% set format = "Y%-%m-%d" %}
    {% set utc = dt.datetime.strptime(dt_str, format).replace(tzinfo=pytz.UTC) %}
    {% set local_tz = tz.tzlocal() %}
    {% set local = utc.astimezone(local_tz) %}
    <span>{{ local.strftime("%m-%b-%Y") }}</span>
    <span> &#8212; </span><span>{{ workout.workout_name }}</span>
</button>
<div class="workout-contents">
    {% for exercise in workout.exercise|sort(attribute='id') %}
    <p class="exercise-name">{{ exercise.exercise_name }}</p>
    <table class="exercise-display-table">
      <thead>
        <tr>
            <th class="reps-header" scope="col">reps</th>
            <th class="weight-header" scope="col">weight</th>
        </tr>
      </thead>
      <tbody>
        {% for set in exercise.set|sort(attribute='id') %}
        <tr class="reps-weight">
            <td>{{ set.reps }}</td>
            <td>{{ set.weight }} lbs</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr class="exercise-divider"/>
    {% endfor %}
    <p class="workout-rating">Workout Rating: {{ workout.rating }}</p>
</div>
{% endfor %}
<script src="{{ url_for('static', filename='home.js') }}"></script>
{% endblock %}