{% extends 'base.html' %} {% block title %}Home{% endblock %}
{% block content %}
<h1 class="page-title">Hey {{ user.first_name }}</h1>
<hr/>
<p>Raw Workouts query: {{ workouts }}</p>
<hr/>
{% for workout in workouts %}
    <button type="button" class="collapsible">{{ workout.workout_name }}</button>
    <div class="workout-contents">
        <div>
            <p>{{ workout.exercise.order_by(exercise.id.asc()).first() }}</p>
            <p><span>10 reps</span><span> </span><span>135 lbs</span></p>
            <p><span>10 reps</span><span> </span><span>135 lbs</span></p>
            <p><span>10 reps</span><span> </span><span>135 lbs</span></p>
        </div>
    </div>
{% endfor %}
<script src="{{url_for('static', filename='home.js')}}"></script>
{% endblock %}