{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block navbar %} {% endblock %}
{% block content %}
<form id="login-form" method="POST">
    <h3 align="center" style="margin-top: 50px">Login</h3>
    <br/>
    <div class="login-form-group">
        <input
                type="text"
                class="form-control"
                id="email"
                name="email"
                placeholder="Email"
        />
    </div>
    <br/>
    <div class="login-form-group">
        <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Password"
        />
    </div>
    <br/>
    <button type="submit" class="btn btn-primary" style="margin-bottom: 30px;">Login</button>
    <p>
        Don't have an account? <a style="color: #0095f6;" href="/signup"><span>Sign Up</span></a>
    </p>
</form>
{% endblock %}