{% extends 'base.html' %} {% block title %}Sign Up{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center">Sign Up</h3>
    <br/>
    <div class="form-group">
        <input
                type="text"
                class="form-control"
                id="first_name"
                name="first_name"
                placeholder="First Name"
        />
    </div>
    <br/>
    <div class="form-group">
        <input
                type="text"
                class="form-control"
                id="last_name"
                name="last_name"
                placeholder="Last Name"
        />
    </div>
    <br/>
    <div class="form-group">
        <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                placeholder="Username"
        />
    </div>
    <br/>
    <div class="form-group">
        <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Email"
        />
    </div>
    <br/><br/>
    <div class="form-group">
        <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Password"
        />
    </div>
    <br/>
    <div class="form-group">
        <input
                type="password"
                class="form-control"
                id="password_confirm"
                name="password_confirm"
                placeholder="Confirm Password"
        />
    </div>
    <br/>
    <p>
        Password must include at least 8 characters, 1 uppercase & 1 lowercase
        letter, 1 number, and 1 special character (!, @, #, $, etc.)
    </p>
    <br/><br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}