{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
<h3 align="center" style="margin-top: 50px">Sign Up</h3>
<hr/>
<form id="signup-form" method="POST">
    <div class="signup-form-group">
        <input
                type="text"
                class="form-control"
                id="first_name"
                name="first_name"
                placeholder="First Name"
        />
    </div>
    <p id="first-name-message" class="signup-message">First name required</p>

    <div class="signup-form-group">
        <input
                type="text"
                class="form-control"
                id="last_name"
                name="last_name"
                placeholder="Last Name"
        />
    </div>
    <p id="last-name-message" class="signup-message">Last name required</p>

    <div class="signup-form-group">
        <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                placeholder="Username"
        />
    </div>
    <p id="username-message" class="signup-message">Username required</p>

    <div class="signup-form-group">
        <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Email"
        />
    </div>
    <p id="email-message" class="signup-message">Email required</p>

    <div class="signup-form-group">
        <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Password"
        />
    </div>
    <p id="password-message" class="signup-message">Password required</p>

    <div class="signup-form-group">
        <input
                type="password"
                class="form-control"
                id="password_confirm"
                name="password_confirm"
                placeholder="Confirm Password"
        />
    </div>
    <p id="password-confirm-message" class="signup-message">Password confirmation required</p>
    <br/>

    <button
            id="signup-button"
            name="signup-button"
            value="signup-button"
            type="button"
            class="btn btn-primary"
            style="margin-bottom: 30px;"
            onclick="checkInfo();"
    >Sign Up</button>
    <p>
        Already have an account? <a style="color: #0095f6;" href="/login"><span>Login</span></a>
    </p>
    <script src="{{url_for('static', filename='signup.js')}}"></script>
</form>
{% endblock %}